<% provide(:title, "About Us") %>
<div class="jumbotron mt-4 alert alert-light offset-md-2 col-md-8 offset-md-2">

<h1 class="text-center mt-4">Hello everyone!!</h1>
<div class="row justify-content-around mt-4">
  <div class="card border-danger mb-3 col-4" style="max-width: 20rem;">
    <div class="card-header"><strong>About This Site</strong></div>
    <div class="card-body text-danger">
      <h5 class="card-title">e-learning</h5>
      <p class="card-text">You can learn English with this site.</p>
      <p>It can be used for Eiken and TOEIC test preparation. </p>
      <p>You can also connect with your friends and see each other's progress. Let's study while encouraging each other!</p>
      <p>Have a good time.</p>
      <%= image_tag "about_imag.jpg", class: "d-block mx-auto img-fluid w-100" %>
    </div>
  </div>

  <div class="card " style="width: 18rem; col-4">
    <%= image_tag "about.webp", class: "d-block mx-auto img-fluid w-100" %>
      <div class="card-body">
        <p class="card-text text-center"><strong>Those who learn create the future!</strong></p>
        <p>What are your dreams for the future? It is very important to learn and deepen your knowledge about your interests.
         Knowledge will broadens your horizons. In this site, you can brash up your English skills. Take it easy.
         We wish you a bright future.</p>
      </div>
  </div>

</div>