<%= provide(:title, "Dashboard") %>
<div class="row mt-5 mx-auto justify-content-center">
    <%= render 'form' %>
    <div class="ml-5">
      <div class="card text-primary bg-light" style="width: 60rem;">
        <div class="card-header text-center"><strong>User Activity</strong></div>
          <div class="card-body">
            <h5 class="card-title">ddd</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
    </div>      
</div>
</div>
