<% provide(:title, "Categories List") %>
<div class="text-center mt-4">
    <h1>Categories List</h1>
</div>

<div class="col text-center mt-4">
    <button type="button" class="btn btn-outline-secondary w-25">All</button>
    <button type="button" class="btn btn-outline-success w-25">Learned / In progress</button>
    <button type="button" class="btn btn-outline-danger w-25">Not touched yet</button>
</div>

<div class="row mt-5 mx-auto container">
    <div class="row">
        <% @category.each do |category| %>
        <div class="card text-center mx-auto my-3" style="width: 18rem;">
            <h5 class="card-header"><%= category.title %></h5>
            <div class="card-body">
                <h5 class="card-text"><%= category.description %></h5>
                <div class="text-right mt-3">
                    <%= link_to "Start lesson", href="#", class: "btn btn-primary" %>
                </div>
            </div>
        </div>
        <% end %>
  </div>
  <div class="row d-flex justify-content-center">
    <%= will_paginate @category %>
  </div>
</div>